@import "tailwindcss";

body {
  background: 
    linear-gradient(180deg, #f9f9f9, #e9e9e9),
    radial-gradient(#ccc 0.5px, transparent 0.5px);
  background-size: 100% 100%, 20px 20px;
  background-attachment: fixed;
  color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media (min-height: 640px) {
  body {
    font-size: 18px;
  }
}

@media (min-height: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-height: 1024px) {
  body {
    font-size: 24px;
  }
}

@media (min-height: 1280px) {
  body {
    font-size: 26px;
  }
}
